<div class="warning-oldie">
  <p>
    <%= settings.intro[:title_main] %>&nbsp;
    <%= settings.intro[:title_more] %>
  </p>
  <p>
    This website is not supported by old versions of Internet Explorer.&nbsp;
    Please, access it from a modern browser such as
    <%= link_to "Google Chrome", "http://google.com/chrome" %>,
    <%= link_to "Mozilla Firefox", "http://mozilla.com/firefox" %> or a newer version of
    <%= link_to "Internet Explorer", "http://windows.microsoft.com/ie" %>.
  </p>
  <p>
    You can still find me in the following places or contact me via
    <%= mail_to settings.email, "email" %>:
  </p>
  <ul>
    <% settings.navbar.each do |item| %>
      <li><%= link_to item[:text], item[:link] %></li>
    <% end %>
  </ul>
</div>
